* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}
#main {
  background-color: #FEFCF2;
  height: 100vh;
}
#card{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: #F8F8F8;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
  transition: 0.3s;
  padding: 30px;
  border-radius: 10px;
}
#card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.8);
}
h1 {
  font-size: 40px;
}
#entry {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
}